
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<ol>
    @foreach (var item in ViewBag.Educations)
    {
        <li>
            @item.Title
        <ul>
            <li><strong>Year:</strong> @item.Year</li>
            <li><strong>Group:</strong> @item.Group</li>
            <li><strong>Institution:</strong> @item.Inst</li>
        </ul>
    </li>
}
</ol>
