
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Index</h2>
@if (TempData["Msg"] != null)
{
    <span class="text-danger">@TempData["Msg"]</span>
}
<hr />
<a href="/Product/ShowProduct" class="btn btn-primary">Product</a>
<a href="/Order/Orders" class="btn btn-primary">Orders</a>

